---
import HoursSlider from './HoursSlider.astro'
import MoneyCounter from './MoneyCounter.astro'
import ResultCard from './ResultCard.astro'
import SavingsChart from './SavingsChart.astro'
import CTARecoverTime from './CTARecoverTime.astro'
---

<section>
  <HoursSlider />
  <MoneyCounter />
  <ResultCard />
  <SavingsChart />
  <CTARecoverTime />
</section>
