---
import WhatsAppButton from './WhatsAppButton.astro'
import MeetingButton from './MeetingButton.astro'
import CopyEmailButton from './CopyEmailButton.astro'
---

<section>
  <WhatsAppButton />
  <MeetingButton />
  <CopyEmailButton />
</section>
