---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Proyectos | DL Systems">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl font-bold tracking-tight">Proyectos</h1>
  </main>
</BaseLayout>
